<div class="content">
    <div class="question_container">
        <span class='testclass'>{{currAnswer.text}}</span>
    </div>

    <div class="response_container">
        <div class="row" ng-if="currAnswer.type === 'radio' || currAnswer.type === 'checkbox'" 
             ng-repeat="op in options.option">
            <!--<div class="row" ng-repeat="option in qholder.options | orderBy:'value':false | filterQtype:qholder.inputType:qholder.type">-->
            <div class="col-xs-1">
                <input type="{{currAnswer.type}}" id="{{op}}" value="{{op}}" name="{{op}}" />
            </div>
            <div class="col-xs-11">{{op}}</div>
        </div>       

        <div class="col-xs-12" ng-if="currAnswer.type === 'textarea'">        
            <textarea class="srv_textarea" name=""></textarea>
        </div>

    </div>

    <div class="submit_button">

        <input type="button" value="Prev" ng-Click="prevPage()" ng-show="!isPrevButtonHide"/>
        <input type="button" value="Next" ng-Click="nextPage()" ng-show="!isNextButtonHide"/>

    </div>
    <!--    Click me: <input type="checkbox" ng-model="checked"><br/>
        <div>
            Show:
            <div class="check-element animate-show" ng-show="checked">
                <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
            </div>
        </div>
        <div>
            Hide:
            <div class="check-element animate-show" ng-hide="checked">
                <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
            </div>
        </div>-->
</div>


