<h1 style="text-align: center">Survey List</h1>

<div style="float: left">
    <button class="btn btn-success" ng-click="showModal()" style="width: 400px; margin-bottom: 20px"> Add New Survey</button>
    <div class="gridStyle" ng-grid="gridOptions">
    </div>
</div>

<div style="float: right; border: 1px solid black ; width: 700px;padding: 10px; border-radius: 4px; margin-top: 55px">
    <p style=" margin: 10px">lkszud</p>
    <br>
    <button class="btn btn-default" ng-click="start()" style="float: right">Start!</button>
</div>
